@using vCard.Models
@model SkillsInfo

@{ 
    ViewBag.Title = "Skills";
}

<aside class="grid col-one-quarter mq2-col-one-third mq3-col-full">
    This blok is being diveloped
</aside>

<section class="grid col-three-quarters mq2-col-two-thirds mq3-col-full">
    <h2>My technical skills: </h2>

    <div id="skills">

        @foreach (string category in Model.Categories)
        {
            <div>
                <h3>@category:</h3>
                @foreach (Skill skill in Model.Skills)
                {
                    if (skill.Category == category)
                    {
                        <ul id="chart">
                            @switch (skill.Value)
                            {
                                case 1:
                                    <li class="one">@skill.Name</li>
                                    break;
                                case 2:
                                    <li class="two">@skill.Name</li>
                                    break;
                                case 3:
                                    <li class="three">@skill.Name</li>
                                    break;
                                case 4:
                                    <li class="four">@skill.Name</li>
                                    break;
                                case 5:
                                    <li class="five">@skill.Name</li>
                                    break;
                            }
                        </ul>
                    }
                }
            </div>
        }

        <div id="axis"><img src="~/Content/Images/Others/line.png" /></div>

    </div>


</section>




